*{padding:1px}
body{font-size:16px;background-color:#00b82e}
h1,h2,h3,h4,h5,h6{font-family:'Roboto',sans-serif}
header{background-color:#fff;display:flex;flex-flow:row;box-shadow:0 0 30px #777;justify-content:center;}
.logo,.headings{vertical-align:middle;margin:10px}
h2{text-align:center;font-size:32px}
h3{margin:5px}
.logo{width:100%;height:auto}
nav{background-color:#0004ff}
.navigation{text-align:center;display:flex;flex-direction:column}
.navigation li:first-child{display:block}
.navigation li{display:none}
.navigation a{display:block;color:#fff;padding:1px;text-align:center;text-decoration:none}
.navigation a:hover{color:#000;background-color:#fff;font-weight:700}
.responsive li{display:block}
nav ul{list-style-type:none;padding:0}
a:hover{background-color:#ef0;color:#fdfdfd;border-bottom:1px solid #fff}
.active{background:#000;color:#fff}