header,
.logo {
    vertical-align: middle;

}


h1 {
    font-family: arial black;
    font-size: 32px;
    color: #003BFF;
}

h2 {
    font-family: arial black;
    font-size: 24px;
    color: #003BFF;
}

h3 {
    font-family: arial black;
    font-size: 20px;
    color: #003BFF;
}

h4 {
    font-family: arial black;
    font-size: 16px;
    color: #003BFF;
}

h1,
h2,
h3,
h4,
p,
b,
div,
li,
main,
footer {
    text-align: center;
}

body {
    background-color: #ffd700;
    color: #000000;
}


.navigation {
    float: left;
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column
}

.responsive li {
    display: block;
}

.navigation li {
    list-style-type: none;
    display: block;
    float: right;
    border-right: 1px solid #ccc;
    font-weight: bold;
}

.navigation a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: merriweather;
    font-size: 20px;
    color: #003BFF;
    margin: 0px;
}

li {
    list-style-type: none;

}

.contact-form {
    background-color: #ffd700;
}

.contact-form ul {
    padding: 0px;
    margin: 0px auto;
}

.contact-form input,
.contact-form #message,
.contact-form select {
    width: 50%;
    padding: 10px 20px;
    margin: 2px;
    box-sizing: border-box;
    display: block;
}

.contact-form label {
    display: block;
    float: left;
    clear: left;
    width: 200px;
    padding-right: 1em;
    text-align: right;
}


.img1,
.img2,
.img3,
img.hotel {
    width: 80%;
}



footer a {
    font-family: lucinda sans;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

footer {
    height: 30px;
    background-color: #D3F0F4;
    font-family: lucinda sans;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    padding: 5px;
    margin: 0px;
    margin-top: 30px;
}


p {
    font-family: merriweather;
}

button {
    margin: 30px;
    padding: 10px;
    font-size: 18px;
}

iframe {
    border-width: 0px;
}