header,
.logo {
    vertical-align: middle;

}

h1 {
    font-family: arial black;
    font-size: 32px;
    color: #003BFF;
}

h2 {
    font-family: arial black;
    font-size: 24px;
    color: #003BFF;
}

h3 {
    font-family: arial black;
    font-size: 20px;
    color: #003BFF;
}

h4 {
    font-family: arial black;
    font-size: 16px;
    color: #003BFF;
}

h1,
h2,
h3,
h4,
p,
b,
div,
li,
main,
footer {
    text-align: center;
}

body {
    background-color: #ffd700;
}


.navigation {
    float: left;
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column
}

.responsive li {
    display: block;
}

.navigation li {
    list-style-type: none;
    display: block;
    float: right;
    font-weight: bold;
}


.navigation li:first-child {
    display: block
}

.navigation a {
    display: block;
    padding: 10px;
    font-family: merriweather;
    font-size: 20px;
    color: #003BFF;
    margin: 0px;
}

.navigation a:hover {
    background-color: #003BFF;
}

nav ul {
    list-style-type: none;
}

a:hover {
    color: #ffffff;

}

.active {
    color: #fff
}

li {
    list-style-type: none;

}

.contact-form ul {
    padding: 0px;
    margin: 0px auto;
}

.contact-form input,
.contact-form #message,
.contact-form select {
    width: 50%;
    padding: 10px 20px;
    margin: 2px;
    box-sizing: border-box;
    display: block;
}

.contact-form label {
    display: block;
    float: left;
    clear: left;
    width: 300px;
    padding-right: 1em;
    text-align: right;
}

label {
    font-size: 16px;
    font-family: Merriweather;
}

p{
    font-family: Merriweather;
    font-size:16px;}

 li {
    font-family: Merriweather;
    font-size: 14px;
 }

button {
    margin: 25px;
    padding: 10px;
    font-size: 18px;
}


footer a {
    font-family: lucinda sans;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

footer {
    height: 30px;
    background-color: #D3F0F4;
    font-family: lucinda sans;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    padding: 5px;
    margin: 0px;
    margin-top: 30px;
}